@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login Complete</h1>
<div>
    <form id="formTemplate" method="post" action="Create-Tweet">
        <input name="userPost" id="userPost" type="text" />
        <input type="submit" />
    </form>
</div>