@using SMS_Marketing.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var tweets = ViewBag.Tweets;
    if (tweets != null)
    {
        foreach (var tweet in tweets)
        {
            <label>URL</label>
            <p>@tweet.ImageUrl</p>
            <label>ScreenName</label>
            <p>@tweet.ScreenName</p>
            <label>Text</label>
            <p>@tweet.Text</p>
        }
    }
    else
    {
        <p>No Tweets</p>
    }
}
