@model Organization
@{
    ViewData["Title"] = "Organization Details";
}
<section class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/SysAdmin/Index">Organizations</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
        </ol>
    </nav>
</section>
<section class="section">
    <div class="row">
        <div class="col-2">
            <p>Organization Name:</p>
        </div>
        <div class="col-auto">@Model.Name</div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Manager:</p>
        </div>
        <div class="col-auto">@Model.ManagerName</div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Status:</p>
        </div>
        <div class="col-auto">
            @if (Model.IsActive)
            {
                <button type="button" class="btn btn-info" disabled>Active</button>
            }
            else
            {
                <button type="button" class="btn btn-danger" disabled>Inactive</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Twitter Status:</p>
        </div>
        <div class="col-auto">
            @if (Model.IsTwitter)
            {
                <button type="button" class="btn btn-info" disabled>Enrolled</button>
            }
            else
            {
                <button type="button" class="btn btn-danger" disabled>Inactive</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Facebook Status:</p>
        </div>
        <div class="col-auto">
            @if (Model.IsFacebook)
            {
                <button type="button" class="btn btn-info" disabled>Enrolled</button>
            }
            else
            {
                <button type="button" class="btn btn-danger" disabled>Inactive</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>SMS Status:</p>
        </div>
        <div class="col-auto">
            @if (Model.IsSMS)
            {
                <button type="button" class="btn btn-info" disabled>Enrolled</button>
            }
            else
            {
                <button type="button" class="btn btn-danger" disabled>Inactive</button>
            }
        </div>
    </div>
</section>
<section class="section">
    <a href="/SysAdmin/Index" class="btn btn-primary">Return</a>
</section>
