@model List<AppSettings>
@{
    ViewData["Title"] = "Settings";
}
<section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="SysAdmin">Organizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Insights</a>
        </li>  <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/SysAdmin/Settings/Twitter">Settings</a>
        </li>        
    </ul>
</section>
<section class="container mt-4 mb-5">
    <div class="row">
        <div class="col-3">
            <partial name="../SysAdmin/AdminSettings/_SettingsMenu" />
        </div>
        <div class="col-8">
            <partial name="../SysAdmin/AdminSettings/_SettingsForm.cshtml" for="@Model"/>
            @*@Html.Partial("../SysAdmin/AdminSettings/_Twitter.cshtml")*@
        </div>
    </div>
</section>
