<section class="container mt-2">
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/SysAdmin/Settings/TWITTER">
        <i class="fa-brands fa-square-twitter"></i>
        Twitter
    </a>
    <a class="list-group-item list-group-item-action" href="/SysAdmin/Settings/APP">
        <i class="fa-solid fa-gear"></i>
        App Settings</a>
    <a class="list-group-item list-group-item-action" href="/SysAdmin/Settings/FACEBOOK">
        <i class="fa-brands fa-square-facebook"></i>
        Facebook</a>
    <a class="list-group-item list-group-item-action" href="/SysAdmin/Settings/TWILIO">
        <i class="fa-solid fa-comment"></i>
        Twilio</a>
</div>
</section>