@model E_VilleMarketing.Models.User

@{
    Layout = (string)ViewData["layout"];
}


<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

