@model UserErrorModel
@{
    if(Model != null)
    {
        <section class="container">
            <h1>There has been an error.</h1>
            <h2>Error Code: @Model.ErrorCode</h2>
            <h2>Error Details</h2>
            <p>@Model.ErrorMessage</p>
        </section>
    }
    else
    {
        <p>Something Unexpected Has Happened.</p>
    }
}