@model CustomerViewModel
@{
    ViewData["Title"] = "Customers";
}
<section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="UserManagement" asp-controller="Organization" asp-route-id="@Model.Organization.Id">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="Customers" asp-controller="Organization" asp-route-id="@Model.Organization.Id">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Insights</a>
        </li>
    </ul>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Your groups</h1>
            <a asp-action="CreateGroup" asp-controller="Organization">Create Group?</a>
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th scope="auto">Name</th>
                        <th scope="auto">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Groups)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <a class="btn btn-outline-secondary">Details</a>
                                    <a class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>