@{
    ViewData["Title"] = "Your Organizations";
}
@{
    if (ViewBag.OrganizationList !=null)
    {
        List<Organization> organizations = ViewBag.OrganizationList;
        if (organizations.Count == 0)
        {
            <p class="fs-2">There are no Organizations.</p>
        }
        else
        {
            <p class="fs-2">Choose an organization to manage.</p>
            foreach (var organization in organizations)
            {
                <a href="/Organization/Index/@organization.Id" class="btn btn-primary btn-lg">
                    @organization.Name
                </a>
            }

        }
    }
    else
    {
        <p>We could not retrive the data.</p>
    }
}
