@model Organization
@{
    ViewData["Title"] = "Add Facebook";
}
<section class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Organization" asp-route-id="@Model.Id">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="UserManagement" asp-controller="Organization" asp-route-id="@Model.Id">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="Customers" asp-controller="Organization" asp-route-id="@Model.Id">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Insights</a>
        </li>
    </ul>
</section>
<section>
    <form asp-action="Submit" asp-controller="Facebook" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <label for="AppId">Enter Application ID: </label>
            <input id="AppId"name="AppId"type="text" required/>
        </div>
        <div class="form-group">
            <label for="AccessToken">Enter Access Token: </label>
            <input id="AccessToken" name="AccessToken" type="text" required/>
        </div>
        <div class="form-group">
            <label for="UserScreenName">Enter User Screen Name: </label>
            <input id="UserScreenName" name="UserScreenName" type="text" required/>
        </div
        <div class="form-group">
            <input type="submit" value="Create FacebookAuth" class="btn btn-primary" />
        </div>
    </form>
</section>