<section class="container">
    <form method="post" asp-action="AddUser" asp-controller="Organization" asp-route-id="@Model.Id">
        <div class="pt-2">
            <p class="fs-2">Add User</p>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <input type="submit" value="Invite User" class="btn btn-primary btn-lg" />
        </div>
    </form>
</section>