<section class="container">
    <h1>Organization: @Model.Name</h1>
</section>
<section class="container">
    <h1>
        @Model.ManagerName, Welcome to your organization.
    </h1>
</section>

<section class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
      </ol>
    </nav>
</section>