@model string
<section class="container mt-2">
    <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">
        <i class="fa-solid fa-circle-exclamation"></i>
        Holy guacamole!</h4>
    <p>You don't have access to this resource yet. Please contact @Model to give you access.</p>
    <hr>
    <p class="mb-0">Thank you!</p>
</div>
</section>