<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMS_Marketing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMS_Marketing.styles.css" asp-append-version="true" />
</head>
<body class="p-3">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white box-shadow mb-3">
            <div class="container-fluid">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand d-flex ms-2 px-2 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <img src="~/media/logo.png" height="30" width="30" />
                    <span class="fs-4"></span>
                </a>
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SMS_Marketing</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SysAdmin" asp-action="Index">Admin Portal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Organization" asp-action="MyOrganizations">Organization Portal</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
        <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
    <partial name="_footer"/>
    <script src="https://kit.fontawesome.com/42e7bd55fd.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
