<section>
    @{
        if (TempData["Success"] != null)
        {
           <div class="row">
               <div class="col-12">
                   <div class="alert alert-success" role="alert">
                        @TempData["Success"]
                   </div>
               </div>
           </div>
            TempData["Success"] = null;
        }
        if (TempData["Error"] != null)
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        @TempData["Error"]
                    </div>
                </div>
            </div>
            TempData["Error"] = null;
        }
    }
</section>