
<section class="container mb-5">
    <form asp-controller="Organization" asp-action="SubmitPost" method="post" enctype="multipart/form-data">
        <input name="id" type="hidden" value="@Model.Id" />
        <div class="input-group mt-3">
            <span class="input-group-text">New Post</span>
            <textarea class="form-control" aria-label="New Post" id="postText" name="postText"></textarea>
        </div>
        <div class="form-group mt-3 mb-4">
            <label for="formFileLg" class="form-label">Add an Image</label>
            <input class="form-control form-control-lg" id="postPicture" name="postPicture" type="file">
        </div>
        @{
            <label for="servies form-label mt-3">Post to the following services</label>
            if (Model.IsSMS)
            {
                <div class="input-group mt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="IsSMS">
                        <label class="form-check-label" for="flexCheckDefault">
                            SMS Message
                        </label>
                    </div>
                </div>
                <div class="mb-3 mt-2">
                    <label for="SMSGroup" class="form-label">Select an SMS Group</label>
                    <select name="SMSGroup" class="form-select" aria-label="Default select example">
                        <option value="-1" selected>Open this select menu</option>
                        @{
                            foreach (var item in Model.Groups)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3 mt-2">
                    <label for="url" class="form-label">Add a URL to your post.</label>
                    <input type="text" class="form-control" id="url" name="url">
                </div>
            }
            if (Model.IsTwitter)
            {
                <div class="input-group mt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="IsTwitter">
                        <label class="form-check-label" for="flexCheckDefault">
                            Twitter
                        </label>
                    </div>
                </div>
            }
            if (Model.IsFacebook)
            {
                <div class="input-group mt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="IsFacebook">
                        <label class="form-check-label" for="flexCheckDefault">
                            Facebook
                        </label>
                    </div>
                </div>
            }
        }
        <button class="btn btn-primary">
            Submit
        </button>
    </form>
</section>
