<div class="list-group">
    <a href="/SysAdmin/Settings/TWITTER" class="list-group-item list-group-item-action active" aria-current="true">
        Twitter
    </a>
    <a class="nav-link" href="/SysAdmin/Settings/APP">App Settings</a>
</div>