@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = ViewData["Layout"].ToString();
}
<h1>This will be developed once the API's are properly implemented</h1>