@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col col-1"></div>
    <div class="col">
        <h1>@ViewData["Title"]</h1>
        <p class="fw-normal lh-lg fs-5">
            This privacy policy outlines how our website collects, uses, maintains, and discloses information from its users. By using this website, you agree to the terms outlined in this policy.

            Information we collect
            We may collect personal information from users when they voluntarily provide it to us through forms or other interactions on our website. This information may include:

            Name
            Email address
            Phone number
            Mailing address
            Other information relevant to the purpose of the website
            We may also collect non-personal information such as your IP address, browser type, operating system, and pages visited on our website. This information is collected automatically through the use of cookies or other tracking technologies.

            How we use information
            We may use the information we collect from users in the following ways:

            To improve our website and user experience
            To respond to inquiries, questions, and other requests
            To send periodic emails related to our website and its services
            To personalize user experience
            To analyze website usage and trends
            We may also use non-personal information to create aggregated statistics about website usage, which may be shared with third parties.

            How we protect information
            We take appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of personal information. We use secure data storage methods and limit access to personal information to authorized personnel only.

            Sharing information
            We do not sell, trade, or rent users' personal information to third parties. We may share non-personal information with third parties for marketing, advertising, or other uses.

            We may also disclose personal information when required by law or to enforce our website policies.

            Links to other websites
            Our website may contain links to other websites. We are not responsible for the privacy practices or content of these websites.

            Changes to this privacy policy
            We reserve the right to make changes to this privacy policy at any time. Users will be notified of any changes by posting an updated policy on our website.

            Contact us
            If you have any questions or concerns about this privacy policy, please contact us.
        </p>
    </div>
    <div class="col col-1"></div>
</div>